html {
  box-sizing: border-box;
font-style: normal;
font-weight: normal;
font-family: serif;
  line-height: 1.3;
  padding: 1rem
}

*, *::before, *::after {
  box-sizing: inherit;
}

title {
  font-size: 1em;
}

blockquote {
  color: #999;
}

body {
font-size: 1.125rem;
margin:50px
color: #555;
}
